* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(210, 210, 210);
}

#canvas-wrapper {
    position: relative;
    margin-bottom: 50px;
}

    #canvas-wrapper canvas {
        -moz-box-shadow: 0px 0px 20px #868686;
        -webkit-box-shadow: 0px 0px 20px #868686;
        box-shadow: 0px 0px 20px #868686;
        background: white;
        display: block;
        margin: 12px auto;
    }

#done-button {
    display: block;
    position: absolute;
    text-decoration: none;
    background: rgb(51, 136, 230);
    color: white;
    width: 48px;
    height: 48px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    line-height: 48px;
    bottom: -24px;
    left: 50%;
    margin-left: -24px;
    -moz-box-shadow: 0px 0px 20px #868686;
    -webkit-box-shadow: 0px 0px 20px #868686;
    box-shadow: 0px 0px 20px #868686;
    transition: background .2s;
}

    #done-button:hover {
        background: rgb(244, 90, 90);
    }

#toolbar {
    -moz-box-shadow: 0px 0px 20px #868686;
    -webkit-box-shadow: 0px 0px 20px #868686;
    box-shadow: 0px 0px 20px #868686;
    background: rgb(238, 238, 238);
    width: 144px;
    height: 48px;
    margin: 40px auto;
    display: block;
}

    #toolbar:after {
        content: "";
        clear: both;
        display: block;
    }

.toolbar-item {
    float: left;
    position: relative;
    width: 48px;
    height: 100%;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    -moz-transition: background .2s;
    -o-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .5s color .5s;
}

    .toolbar-item:hover {
        background: rgb(51, 136, 230);
        color: white;
    }

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    background: rgb(238, 238, 238);
    color: black;
    z-index: 1;
    max-width: 48px;
    -moz-box-shadow: 0px 0px 20px #868686;
    -webkit-box-shadow: 0px 0px 20px #868686;
    box-shadow: 0px 0px 20px #868686;
}

    .dropdown-content a {
        display: block;
        position: relative;
        text-decoration: none;
        width: 48px;
        height: 48px;
        color: black;
        float: left;
        transition: background .5s;
    }

        .dropdown-content a:hover {
            background: #868686;
        }

    .dropdown-content .ellipse {
        position: absolute;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
    }

    .dropdown-content .ellipse-l {
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
    }

    .dropdown-content .ellipse-m {
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
        margin-left: -7.5px;
    }

    .dropdown-content .ellipse-s {
        width: 10px;
        height: 10px;
        margin-top: -5px;
        margin-left: -5px;
    }

    .dropdown-content .ellipse-xs {
        width: 5px;
        height: 5px;
        margin-top: -2.5px;
        margin-left: -2.5px;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:active .dropdown-content {
    display: block;
}

[class^='mdl2-']::before, [class*='mdl2-']::before {
    font-size: 18px !important;
}

/*loading*/
#loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.5);
    width: 100%;
    height: 100%;
}

.spinner {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -20px;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: royalblue;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
        background-color: royalblue;
    }

    50% {
        -webkit-transform: scale(1.0);
        background-color: crimson;
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
        background-color: royalblue;
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        background-color: crimson;
    }
}
